import 'package:unittest/unittest.dart' as unittest;
import 'package:js/js.dart' as js;
%TEST_IMPORTS%

class AdapterConfigutation extends unittest.Configuration {
  bool get autoStart => false;

  void onDone(success) {
    try {
      super.onDone(success);
    } catch(e) {};
    js.scoped(() {
      js.context.__testacular__.complete();
    });
  }
  
  void onTestStart(TestCase testCase) {
    super.onTestStart(testCase);
  }
  
  void onTestResult(TestCase testCase) {
    js.scoped(() {
      js.context.__testacular__.result(
        js.map({
          'description': testCase.description,
          'success': testCase.result == unittest.PASS,
          'suite': [],
          'log': testCase.result == unittest.PASS ? [] : [testCase.message] 
        })
      );
    });
  }
} 

main() {
  unittest.configure(new AdapterConfigutation());
  print('configure first...');
  
%TEST_MAIN_CALLS%

  js.scoped(() {
    js.context.__testacular__.start = new js.Callback.once(() {});
    js.context.__testacular__.info(js.map({'total': unittest.testCases.length}));
  });
  unittest.runTests();
}

