/*%ADAPTER_IMPORTS%*/
/*%TEST_IMPORTS%*/

class AdapterConfiguration extends unittest.SimpleConfiguration {
  bool get autoStart => false;

  void onDone(success) {
    try {
      super.onDone(success);
    } catch(e) {};
    js.scoped(() {
      js.context.__karma__.complete();
    });
  }

  void onTestStart(unittest.TestCase testCase) {
    super.onTestStart(testCase);
  }

  void onTestResult(unittest.TestCase testCase) {
    js.scoped(() {
      var logData = [];
      if (testCase.result != unittest.PASS) {
        logData.add(testCase.message);
        logData.add(testCase.stackTrace.toString());
      }
      js.context.__karma__.result(
        js.map({
          'id': testCase.id,
          'description': testCase.description,
          'success': testCase.result == unittest.PASS,
          'suite': [],
          'skipped': !testCase.enabled,
          'log': js.array(logData),
          'time': testCase.runningTime.inMilliseconds
        })
      );
    });
  }

  void onLogMessage(unittest.TestCase testCase, String message) {
    js.scoped(() {
      js.context.__karma__.info(js.map({
        'dump': message
      }));
    });
  }

  void onSummary(int passed, int failed, int errors,
      List<unittest.TestCase> results, String uncaughtError) {
    if (uncaughtError != null) {
      js.scoped(() {
        js.context.__karma__.error(uncaughtError);
      });
    }
    // it's OK to print the default summary into the console
    super.onSummary(passed, failed, errors, results, uncaughtError);
  }
}

main() {
  unittest.unittestConfiguration = new AdapterConfiguration();

/*%TEST_MAIN_CALLS%*/

  js.scoped(() {
    js.context.__karma__.start = new js.Callback.once(() {});
    js.context.__karma__.info(js.map({'total': unittest.testCases.length}));
  });
  unittest.runTests();
}

